<%= render(:partial => "rubycms/head") %>

<body>
<div class="hs-iframe">
	
<p style="color: green"><%= flash[:notice] %></p>


<div id="fmcap">
<%= render(:partial => 'form') %> 
</div id="fmcap">	



</div class="hs-iframe">
</body>
</html>

