<%= render(:partial => "rubycms/head") %>

<body>
<div class="hs-iframe">
	
<p style="color: green"><%= flash[:notice] %></p>


<div id="layoutcap">
<%= render(:partial => 'layout') %> 
</div id="layoutcap">	


</div class="hs-iframe">
</body>
</html>
