<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>

<head>
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<script type="text/javascript">    
    hs.graphicsDir = '/javascripts/highslide/graphics/';
    hs.outlineType = 'drop-shadow';
	hs.captionEval = 'this.thumb.alt';
	hs.outlineWhileAnimating = true;
	hs.showCredits = false;

</script>	
  <%= stylesheet_link_tag 'highslide', :media => "screen" %>
  <%= stylesheet_link_tag 'highslide-with-html', :media => "screen" %>
  <%= stylesheet_link_tag 'blueprint/screen978', :media => "screen" %>
  <%= stylesheet_link_tag 'rubycms/hs-iframe', :media => "screen" %>
  <%= stylesheet_link_tag 'rubycms/file', :media => "screen" %>
  <style type="text/css"> body {background-color: #ABB}</style>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>  	
  
  <title>Administration: <%= controller.action_name %></title>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'scriptaculous' %>

</head>

<body>
<div class="hs-iframe">


<!--
<% url = params[:url] %>
url: <%= url %>
<% page = request.request_uri %>
page: <%= page %>
image: <%= @image.id if @image != nil %>
-->

<p style="color: green"><%= flash[:notice] %></p>

<h3>Image files: (jpg, png, and gif)</h3>
<% if @upload_privileges %>
  <% form_for(:image, :url => {:controller => '/rubycms_filemanager', :action => :image_upload, :path => params[:url]}, :html => { :multipart => true }) do |f| %>
    <p>
      <label for="uploaded_data"></label>
      <%= f.file_field :uploaded_data %>
    </p>
    <p>
      <%= submit_tag "Upload Image" %>
    </p>
  <% end %>
<% else %>
  <p>
  	(No privileges to upload images)
  </p>
<% end %>

<div id="imgcap">
<%= render(:partial => 'image_caption') %> 
</div>	

<h3>Other files: (pdf, msword, rtf, and txt)</h3>
<% if @upload_privileges %>
  <% form_for(:fileupload, :url => {:controller => '/rubycms_filemanager', :action => :file_upload, :path => params[:url]}, :html => { :multipart => true }) do |f| %>
    <p>
      <label for="uploaded_data"></label>
      <%= f.file_field :uploaded_data %>
    </p>
    <p>
      <%= submit_tag "Upload file" %>
    </p>
  <% end %>
<% else %>
  <p>
  	(No privileges to upload documents)
  </p>
<% end %>

<div id="fileuploadlist">
<%= render(:partial => 'file_upload_list') %> 
</div>


</div class="hs-iframe">
</body>
</html>
