<%= render(:partial => "rubycms/head") %>

<body>
<div class="hs-iframe">

<!--
<% url = params[:url] %>
url: <%= url %>

 <% @gallery_uploads.inspect %>
<% @gu.inspect %> -->


<p style="color: green"><%= flash[:notice] %></p>


<div id="gallerycap">
<%= render(:partial => 'gallery') %> 
</div id="gallerycap">	



</div class="hs-iframe">
</body>
</html>
