<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "xhtml11.dtd">
<html>

<head>
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<script type="text/javascript" src="/javascripts/highslide/highslide-with-html.js"></script>
<script type="text/javascript">    
    hs.graphicsDir = '/javascripts/highslide/graphics/';
    hs.outlineType = 'drop-shadow';
	hs.captionEval = 'this.thumb.alt';
	hs.outlineWhileAnimating = true;
	hs.showCredits = false;
</script>	
  <%= stylesheet_link_tag 'highslide', :media => "screen" %>
  <%= stylesheet_link_tag 'highslide-with-html', :media => "screen" %>	
  <%= stylesheet_link_tag 'blueprint/screen978', :media => "screen" %>
  <%= stylesheet_link_tag 'rubycms/hs-iframe', :media => "screen" %>
  <%= stylesheet_link_tag 'rubycms/gallery', :media => "screen" %>
  <style type="text/css"> body {background-color: #ABB}</style>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>  	
  <!--<%= stylesheet_link_tag 'screen', :media => "screen" %>
  <%= stylesheet_link_tag 'print', :media => "print" %> --> 
  <title>Administration: <%= controller.action_name %></title>
  
  <!-- <%= stylesheet_link_tag 'formatting' %> -->   
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'scriptaculous' %>


</head>

<body>
<div class="hs-iframe">

<!--
<% url = params[:url] %>
url: <%= url %>

 <% @gallery_uploads.inspect %>
<% @gu.inspect %> -->


<p style="color: green"><%= flash[:notice] %></p>


<div id="gallerycap">
<%= render(:partial => 'gallery') %> 
</div id="gallerycap">	



</div class="hs-iframe">
</body>
</html>
