<%= render(:partial => "rubycms/head") %>

<body id="contact_form">
<div class="hs-iframe">

<div id="contactcap">
  <%= render :partial => 'contact'  %>
</div id="contactcap">
	

</div class="hs-iframe">
</body>
</html>  

