
/* Blueprint 
------------------------------------------------------------------------------------ */

/* Default font settings */

/* Headings */
h1, h1 input,h2,h3,h4,h5,h6 {
  font-weight: normal; color: #333333;
}

h1, h1 input {
  /*border-bottom:1px dashed #B2B2B2; */
  border:none;
  font-family:Georgia,Times,serif;
  text-align:center;
}
h1 {
  font-size:1.66em;	
  padding-bottom:0.50em;
  margin:1.0em 0 1.0em 0;
}
h1 input {
  font-size:0.95em;	
  width:100%;
}

h2 {
  font-family:Georgia,"Times New Roman",serif;
  font-size:1.5em;
  letter-spacing:1px;
}
h3 {
  font-family:Verdana,Arial,sans-serif;
  font-size:1em;
  font-weight:bold;
  letter-spacing:2px;
}

h4,h5,h6 {
  font-family:Georgia,"Times New Roman",serif;
  font-size:1.1em;
  font-weight:bold;
  letter-spacing:1px;
}


/* Text elements */

/* Lists */

/* Tables */

/* Misc classes */
.box {background:#F8F7EF;}

/* Forms */

/* Form fields */

/* Success, notice and error boxes */


/* RubyCMS types 
------------------------------------------------------------------------------------ */

/* Used to extend a column if needed.  Change border and margin if span width is modified. */


/* figure includes image and caption */

/* global navigation
/* top level directories (.ng classes) can be individually styled using navglobal */


/* main navigation */
/* .nm classes can be individually styled using navmain */
#navmain a:link,
#navmain a:visited,
#navmain a:hover,
#navmain a:active {
  color:#3672A4;
  font-family:Georgia,Times,serif;
}
#navmain a:hover {
  color:#165284;
}	
ul#navmain  {
  margin:0;
  border-top:5px solid #E9967A;
  height:2.0em;
  font-size:1.2em;
  padding: 0 0 0 220px;
}
#navmain li {
  display:inline;
  padding:0pt 3px 0pt 12px;	
}

/* search */

/* page navigation */


/* username */
#username {
  margin: 10px 10px 10px 0;
  border:1px dashed #E9967A;
  padding:5px 5px 7px 10px;
}

/* contact information */

/* breadcrumbs */

/* forms */

.form-body fieldset {
 background-color: #F8F7EF;
}

/* footer */



